/* Paleta de colores */
:root{
    --blanco: #ffffff;
    --oscuro: #000000;
    --gris: #757575;
    --purpuraOscuro: #2C1B47;
    --purpuraMedio: #724C9D;
    --purpuraClaro: #DCCAE9;
    --contraste: #9356A0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    position: relative;
    font-family: "Krub", sans-serif;
    background-image: url(../img/Fondo-opaco2.png);
    background-size: cover;
    background-position: center;
}


/* Header */
header{
    background-color: var(--purpuraOscuro);
    color: var(--purpuraClaro);
    padding: 1.5rem;
    padding-bottom: 3rem;
}

header h1{
    color: var(--purpuraClaro);
}

header .welcome{
    position: absolute;
    top: 6.5rem;
    left: 44%;
}

.welcome{
    font-size: 1.5rem;
}

.span-user{
    position: absolute;
    top: 5.5rem;
    right: 2rem;
    font-size: 1.5rem;
}

header img{
    position: absolute;
    top: .5%;
    left: 50%;
    width: 8rem;
    height: 10rem;
}

.users{
    position: absolute;
    top: 2rem;
    right: 6rem;
    
}

.notify{
    position: absolute;
    top: 2rem;
    right: 10rem;
}

.logout-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

/* Navigation */
.body-main{
    display: flex;
    flex-direction: row;
}
.navigation{
    padding: 3rem;
    width: 30rem;
    background-color: var(--purpuraOscuro);
    height: 90.2vh;
}
.navigation a{
    display: flex;
    align-items: center;
    background-color: var(--purpuraOscuro);
    margin: 0 0 1.5rem 0;
    padding: 1.5rem;
    border-radius: 1.5rem;
    font-size: 2rem;
    text-decoration: none;
    color: var(--purpuraClaro);
    cursor: pointer;
}

.navigation a:hover{
    background-color: var(--purpuraMedio);
}


.dashboard-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

p {
    margin-bottom: 20px;
    color: #555;
}

.button-group button {
    padding: 12px 20px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
}

button:hover {
    background-color: #004d40;
}
